/* common styles used accross the site */

p {
	font-family: Roboto, Arial, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

body {
	background-color: rgb(247, 247, 247);
	margin: 0;
	padding-top: 80px; /* give space for fixed header, so the header doesn't cover the content */
	padding-left: 96px; /* give space for fixed sidebar, so the sidebar doesn't cover the content */

	padding-right: 24px;
}
