/* stylesheet for header */
/* .search-txt {
	display: block;
} */

.header {
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: white; /*fill the background color back, because the fixed position make it float over other content, so it losing the page background un turn into transparent background */

  border-bottom: 1px solid rgb(221, 214, 214);
  z-index: 1000; /* make sure the header stay on top of other content */
  
}

.left-section {
	/* background-color: lightblue; */
	/* width: 150px; */
	display: flex;
	flex-direction: row;
	align-items: center;
	/* flex-direction: column;
  justify-content: center; */
}
.middle-section {
	/* background-color: lightpink; */
	flex: 1;
	margin-left: 70px;
	margin-right: 30px;
	max-width: 500px;
  display: flex;
  align-items: center;
}
.search-txt {
  /* ini style untuk text edit search*/
  width: 0; /* the tricks to overcome the page shrinking, is set to 0 then grow with flex */
  flex: 1; /* allow to grow to fill available space */
  height: 36px;
  font-family: Roboto, Arial;
  font-size: 16px; 
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(194, 186, 186);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05) ;
  /* margin-right: 1px; */
}
.search-txt:focus {
  outline: none;
  border-color: rgb(149, 145, 145);
}
.search-txt::placeholder {
  padding-left: 10px ;
  font-size: 16px;
  /* border: 1px solid gray; */
}
.voice-search-button {
	height: 40px;
	width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-search-icon {
  height: 24px;
  margin-top: 4px; /* center dikit */
}

.search-button {
	height: 40px;
	width: 66px;
  /* buat icon dalam button center vertical dan horizontal dengan flexbox*/
  display: flex;
  align-items: center;
  justify-content: center;

  border-width: 1px;
  border-style: solid;
  border-color: rgb(194, 186, 186);
  background-color: rgb(247, 247, 247);
  /* buat tombol menyatu dengan textbox search */
  margin-left: -1px;
  margin-right: 10px; /* beri jarak dengan tombol voice search */
}
.search-button:hover {
   background-color: rgb(237, 237, 237);
}
.search-icon {
  height: 22px;
}

.right-section {
	width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0; /* prevent container from shrinking, so the content will not get smaller then initial dimensions */
}


.hamburger-menu {
	height: 25px;
	margin-left: 24px;
	margin-right: 24px;
}
.youtube-logo {
	height: 20px;
}

.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notification-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative; 
}

.notification-count {
  position: absolute;
  top: 1px;
  right: -3px;
  background-color: rgb(199, 5, 5);;
  color: white; 
  font-size: 10px;
  font-family: Roboto, Arial;
  /* border: 1px solid red; */
  /* width: 8px;  */
  /* height: 8px; */
  border-radius: 10px;
  padding-left: 4px; 
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
}

.current-user-icon {
  height: 32px;
  border-radius: 50%;
}