.sidebar {
	position: fixed;
  padding-top: 5px;
	left: 0;
	bottom: 0;
	top: 55px; /* below the fixed header, header height is 55px*/
	width: 72px;
	z-index: 200; /*buat sidebar diatas header, untuk menutupi border bawah header */
	background-color: white /* fill the background color back, because the fixed position make it float over other content, so it losing the page background and turn into transparent background */
}

.sidebar-link {
	height: 76px;
	display: flex;
	flex-direction: column; /* arrange children vertically */
	justify-content: center;
	align-items: center;
}
.sidebar-link:hover {
	background-color: rgb(230, 230, 230);
	cursor: pointer;
}

.sidebar-link img {
	/* target the img element inside sidebar-link class */
	height: 24px;
  margin-bottom: 6px;
}

.sidebar-link div {
	/* target the div element inside sidebar-link class */
	font-family: Roboto, Arial;
	font-size: 10px;
}
